name = "family-comms"
main = "src/worker.js"
compatibility_date = "2026-02-03"
routes = ["call.qxyx.net/*"]

[assets]
directory = "./public"
binding = "ASSETS"
not_found_handling = "single-page-application"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "Room" }
]

[[migrations]]
tag = "v1"
new_classes = ["Room"]
